html {
  text-align: center;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  /* background: rgb(19, 19, 19); */
  background-image: radial-gradient(#332ba5, #0096db79, #1d1680);
  background-size: 400%;
  animation: bg-animation 300s infinite alternate;
}
h3 {
  color: #ebebeb;
}

/* Page PreLoader Start */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3e37c2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 90px;
  height: 90px;
  position: relative;
  border: 4px solid #fff;
  border-radius: 2rem;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  border-radius: 1rem;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
/* Page PreLoader End */

/* navbar */
.navbar {
  border: 0.5px solid #ebebeb;
  background-color: #0096db79;
  overflow: hidden;
  padding: 1rem 2rem;
  width: 90%;
  z-index: 1;
  border-radius: 5rem;
  margin: -5rem auto 7rem auto;
  display: flex;
  justify-content: center;
  transition: top 0.3s;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s;
}

.navbar a:hover {
  background-color: #00000079;
  color: rgb(199, 199, 199);
  border-radius: 3rem;
}

.navbar a.active {
  color: white;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 700px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* end of nav-bar */

/* header */

.header-img {
  background: radial-gradient(#332ba5, #0096db79, #1d1680);
  background-size: 400%;
  animation: bg-animation 500s infinite alternate;
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.fade-in-text {
  animation: fadeIn linear 2.5s;
  -webkit-animation: fadeIn linear 2.5s;
  -moz-animation: fadeIn linear 2.5s;
  -o-animation: fadeIn linear 2.5s;
  -ms-animation: fadeIn linear 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* STart Blobs */
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.shape:nth-of-type(1) {
  width: 400px;
  height: 400px;
  background: linear-gradient(
    64deg,
    #4856f3a9 23%,
    #4856f3a9 23%,
    #0d1edabd 80%
  );
  z-index: -1;
  animation: wave 8s ease-in-out infinite;
}

.shape:nth-of-type(2) {
  width: 800px;
  height: 800px;
  background: #7998ff;
  position: absolute;
  top: -200px;
  left: -400px;
  opacity: 0.9;
  z-index: -1;
  animation: wave 5s ease-in-out infinite;
}
.shape:nth-of-type(3) {
  width: 500px;
  height: 500px;
  background: #379eff;
  position: absolute;
  bottom: -25%;
  right: 15%;
  z-index: -1;
  opacity: 0.3;
  animation: wave 12s ease-in-out infinite;
}

.shape:nth-of-type(4) {
  width: 350px;
  height: 350px;
  background: #0317ac88;
  position: absolute;
  top: -8%;
  right: 10%;
  z-index: -1;
  opacity: 0.4;
  animation: wave 15s ease-in-out infinite;
}
.shape:nth-of-type(5) {
  width: 100px;
  height: 100px;
  background: #007eec7d;
  position: absolute;
  top: 40%;
  right: 25%;
  opacity: 0.5;
  z-index: -1;
  transform: rotate(90deg);
  animation: wave 15s ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    border-radius: 66% 34% 37% 63% / 57% 31% 69% 43%;
  }
  50% {
    border-radius: 26% 74% 51% 49% / 22% 53% 47% 78%;
  }
}
/* End Blobs */
/* Header END */

/* Start Skills NEW */
/* Needed This */
.skill-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background: rgb(216, 216, 216); */
  background: #6f89df;
}

.skill-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
/* Needed this ^^^^ */

.skill-image {
  width: 40%;
  padding: 5rem;
  border-radius: 100%;
  margin: 20px;
}
@media screen and (max-width: 700px) {
  .skill-image {
    width: 60%;
  }
}
/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
  background: #6f89df;
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ebebeb;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #c0c0c0;
}

/* Caption text */
.text {
  color: #ebebeb;
  font-size: 1.5rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ebebeb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* dots/Circles */
.circles {
  text-align: center;
  background: #6f89df;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* End Skills */

/* about */

.about-row {
  background-color: #1754af79;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.about-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 50%;
}

.about-column-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 50%;
  padding: 10px 50px 0 0;
}

.about-text {
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  font-size: 1.75rem;
  line-height: 2.2rem;
  font-family: "Roboto Slab", serif;
  color: #ebebeb;
}
.big-about-text {
  font-size: 2.75rem;
}

.about-img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

@media (max-width: 700px) {
  .about-column-text {
    padding: 0;
  }
  .about-row {
    flex-direction: column;
    padding: 5rem 2.5rem;
    justify-content: center;
  }

  .about-column {
    margin: 0;
    padding: 0;
  }

  .about-text {
    /* padding-left: 3rem; */
    /* margin: 1rem; */
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

/* END of About */

/* START PROJECTS */
/* Start of Tab Section */
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  /* padding: 1rem 0; */
  /* border-bottom: 1px solid black; */
  /* background: rgba(0, 0, 0, 0.671); */
  background-image: linear-gradient(
    #0096db,
    #38ade4,
    #4cb7e9,
    #38ade4,
    #0096db
  );
}

.tab {
  cursor: pointer;
  padding: 10px;
  font-size: 2rem;
  border-radius: 3rem;
  /* padding: 2rem; */
  color: #f2f2f2;
  transition: 0.4s;
}

.tab.active {
  border: 2px solid #ebebeb;
  background-color: #1b1b1bcb;
}

.tab:hover {
  background-color: #00000079;
}

/* .tab-content {
  margin-left: 20px;
  margin-right: 20px;
} */
/* End of Tab Section */

/* Start of Projects Section */

.projects {
  background: #6f89df;
  /* background-image: radial-gradient(#6b07a5, #095d63, #47578d); */
  padding: 80px 0;
}

.project-heading {
  font-size: 3.5rem;
  color: #ebebeb;
}

.project-text {
  font-size: 2rem;
  color: #ebebeb;
  padding-bottom: 2.5rem;
}

.project-skill {
  color: #ebebeb;
  margin-bottom: 30px;
}

.project-container {
  position: relative;
}

.project-image {
  display: flex;
  width: 100%;
  height: auto;
}

.project-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #2d3a3be0;
}

.project-container:hover .project-overlay {
  opacity: 1;
}

.overlay-text {
  color: white;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  position: relative;
  padding: 0 1rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 700px) {
  .project-text {
    padding: 0 10px 20px 10px;
  }
}
/* Float four columns side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 10px 20px;
}

.project-row {
  /* margin: 0 -5px; */
  display: flex;
  flex-direction: row;
}

.project-img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* Clear floats after the columns */
.project-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* padding: 16px; */
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #0096dbc1;
}

@media (max-width: 700px) {
  .project-row {
    flex-direction: column;
  }
}
/* End of PROJECTS */

/* START Contact */
.contact-container {
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  text-align: center;
  background-color: #1754af79;
}
.none {
  display: none;
}
/* LEFT SIDE */
.contact-left {
  padding: 10px;
  flex: 50%;
}
.contact-header {
  font-size: 4rem;
  font-family: "Roboto Slab", serif;
  color: #ebebeb;
}
.contact-name {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #ebebeb;
  font-family: "Roboto Slab", serif;
}
.contact-text {
  padding-bottom: 3rem;
  font-size: 1.3rem;
  color: #ebebeb;
  font-family: "Roboto Slab", serif;
}
/* RIGHT SIDE */
.contact-right {
  padding: 10px;
  flex: 50%;
}

#slideshow {
  margin: 80px auto;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
#slideshow-two {
  margin: 80px auto;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.slideShow-area {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
.slidshow-picture {
  width: 100%;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .contact-right,
  .contact-left {
    flex: 100%;
  }
  .contact-container {
    /* height: 118vh; */
    height: 100vh;
  }
  .none {
    display: block;
  }
  .contact-name {
    padding-top: 12rem;
  }
  #slideshow {
    margin: 0 auto;
  }
  .slidshow-picture {
    width: 50%;
  }
  .contact-right {
    display: none;
  }
}
/* END of Contact */

/* Footer */
footer {
  background-image: linear-gradient(
    #0096db,
    #38ade4,
    #4cb7e9,
    #38ade4,
    #0096db
  );
}
/* social icons */
.footer-icons {
  padding: 0;
  margin: 0;
}
.social-icon {
  margin: 20px 10px 0 10px;
  color: #242424;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-nav-text {
  font-size: 0.75rem;
  padding: 1rem 1.75rem;
  color: #242424;
  text-decoration: none;
}
.footer-nav-text:hover {
  background-color: #00000079;
  color: rgb(199, 199, 199);
  border-radius: 3rem;
}
/* End of Footer */

/* texts */
.big-heading {
  font-size: 4.5rem;
  padding-bottom: 4rem;
}
/* containers */
.container {
  padding: 100px 0;
}
@media screen and (max-width: 800px) {
  .big-heading {
    font-size: 3rem;
    padding-top: 3rem;
  }
  .container {
    padding: 100px 0 75px 0;
  }
}
/* text color */
.light-text {
  color: #ebebeb;
  /* this below adds outline */
  /* text-shadow: 0 0 2px #011520; */
  /* This above adds outline */
}
/* buttons */
.btn {
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

.default {
  border-color: #ebebeb;
  border-radius: 3rem;
  text-shadow: 0 0 2px #011520;
  color: #ebebeb;
  background: #006da079;
  margin: 0 5px;
  transition: 0.5s;
}

.default:hover {
  border-color: #ebebeb;
  background: #00000079;
  /* background-color: #006da079; */
}
.animate-top {
  position: relative;
  /* animation: animatetop 0.4s; */
  animation: animatetop ease-out 2s;
}

@keyframes animatetop {
  from {
    /* top: -300px; */
    top: 600px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* project buttons */
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-btn {
  margin: 4px;
  border-radius: 3rem;
  border-color: #ebebeb;
  color: #ebebeb;
  background-color: #5d66ec;
  transition: 0.5s;
}

.project-btn:hover {
  /* border-color: #004ba079; */
  border-color: #c1c2c4;
  background-color: rgb(0, 194, 184);
}

@media screen and (max-width: 1000px) {
  .btn-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .btn-container {
    flex-direction: row;
  }
}

/* contact button */

.contact-btn {
  font-size: 2rem;
}
