* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: rgb(0, 0, 0);
}

.container {
  height: 100vh;
  /* width: 100%; */
  background-color: #181818;
  background-image: url(/mucisSite/images/tri.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

/* START NAVBAR */
nav {
  background: rgba(3, 26, 31, 0.42);
  padding: 0 15px;
  margin-top: 0;
}
.nav-link {
  color: white;
  text-decoration: none;
}
.greenTwo {
  color: rgba(187, 182, 182, 0.705);
  font-size: 1.7rem;
}
.nav-logo {
  width: 5%;
}
.menu {
  margin: 0;
}
.menu,
.submenu {
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) .nav-link:hover,
.item .nav-link:hover::after {
  color: #ccc;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li .nav-link {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem .nav-link {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
/* .has-submenu > .nav-link::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
} */
.subitem .nav-link {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button .nav-link {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button .nav-link {
    background: #0080ff;
    border: 1px royalblue solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary .nav-link {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .button .nav-link:hover {
    text-decoration: none;
  }
  .button:not(.secondary) .nav-link:hover {
    background: royalblue;
    border-color: darkblue;
  }
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}
/* END NAVBAR */

/* START MAIN CONTENT */
.content {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 30%;
}

.left-col {
  margin-left: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-text {
  font-size: 90px;
  color: #fff;
  line-height: 110px;
  float: left;
}

.right-col {
  float: right;
  /* margin-right: 6%; */
  /* margin-top: 120px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* CARD */
.column {
  /* float: left; */
  width: 50%;
  padding: 10px 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* padding: 16px; */
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #040c10c1;
}
.project-container {
  position: relative;
}
.project-image {
  display: flex;
  width: 100%;
  height: auto;
}
.project-skill {
  color: #ebebeb;
  margin-bottom: 30px;
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .btn-container {
    flex-direction: column;
  }
  .column {
    margin-top: 5rem;
  }
  .content {
    flex-direction: column;
  }
  .left-col {
    margin-left: 0;
  }
}
@media screen and (max-width: 700px) {
  .btn-container {
    flex-direction: row;
  }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .left-col {
    margin-left: 0;
  }
  .title-text {
    font-size: 75px;
    color: #fff;
    line-height: 110px;
    float: left;
  }
}
/* END CARD */

.cta-text {
  font-size: 18px;
  color: #5f5f5f;
  font-weight: 400;
  margin-top: 12px;
}

#icon {
  width: 80px;
  cursor: pointer;
}
/* START SOCIAL ICONS */
.social-icon {
  cursor: pointer;
  font-size: 2rem;
  margin: 20px 10px;
}
.fa-facebook-f {
  color: #3b5998;
}
.fa-instagram {
  background: linear-gradient(to right, #fcaf45, #e1306c, #5851db);
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.fa-soundcloud {
  color: #fe5000;
}

.fa-youtube {
  color: #ff0000;
}

.fa-music {
  font-size: 28px;
  color: white;
  background: linear-gradient(to right, #fc3c44, #f94c57, #c2cad7);
  padding: 3px 6px 3px 3px;
  border-radius: 7px;
}
